body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #3d63ab, #979da7);
  color: rgb(125, 27, 173) (134, 189, 190);
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color:rgba(218, 155, 31, 0.762)
}

.top-section {
  display: flex;
  gap: 20px;
}

.card {
  background: rgb(204, 234, 226);
  color: rgb(38, 152, 167);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

input {
  padding: 8px;
  width: 70%;
}

button {
  padding: 8px 12px;
  background: rgb(156, 93, 134);
  border: none;
  color: rgb(34, 89, 141);
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: rgb(159, 167, 128);
}

#history button {
  margin: 5px 5px 0 0;
  background: #ff5722;
}

.console {
  margin-top: 30px;
  background: #6a88b9;
  padding: 15px;
  border-radius: 10px;
}

pre {
  color: #9e3074;
}